body{
    font-family: Arial;
    background:#f5f7fb;
    margin:0;
}
.container{
    width:1280px;
    margin:auto;
    padding:20px;
}
h1{
color:#1c355e;
}
.summary{
    display:flex;
    gap:20px;
    margin-top:20px;
}
.card{
    background:white;
    padding:15px;
    flex:1;
    border-radius:6px;
    box-shadow:0px 0px 5px #ddd;
}
.green{
    color:rgb(59, 235, 59);
}
.red{
    color:red;
}

.jobs-header{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    }
.filters{
    margin-top:10px;
    margin-bottom:20px;
}
.filters button{
    padding:6px 12px;
    border:1px solid #ccc;
    border-radius: 6px;
    background:white;
    cursor:pointer;
}
.filters .active{
    background:#2f6fed;
    padding: 6px 12px;
    color:white;
    border:none;
}

.job{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:6px;
    box-shadow:0px 0px 5px #ddd;
}
.role{
    color:gray;
}
.info{
    color:#777;
    font-size:14px;
}
.status{
    background:#e7edf6;
    padding:5px 10px;
    font-size:12px;
    border-radius: 5px;
    display:inline-block;
    margin-top:10px;
}
.desc{
    margin-top:10px;
    color:#444;
}
.actions{
margin-top:15px;
}
.interview{
    border:1px solid green;
    border-radius: 5px;
    background:white;
    color:green;
    padding:6px 12px;
    font-weight: 700;
    cursor:pointer;
}
.reject{
    border:1px solid red;
    border-radius: 5px;
    background:white;
    color:red;
    padding:6px 12px;
    cursor:pointer;
    font-weight: 700;
}
.job{
    position:relative;
}
.delete{
    position:absolute;
    top:15px;
    right:15px;
    width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid #ddd;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.delete img{
    width:15px;
    height:15px;
}